<h1>Lesson 12: Introduction to React.js</h1>

<p>Slides: <a href='http://miniconf.anahoret.com/slides/2014/12/19/ReactJS.pdf'>http://miniconf.anahoret.com/slides/2014/12/19/ReactJS.pdf</a></p>
<p>Homework: <a href="https://github.com/js-lessons/stuff.js">https://github.com/js-lessons/stuff.js</a></p>
<p>React.js: <a href="http://facebook.github.io/react/">http://facebook.github.io/react/</a></p>
<p>Thinking in React: <a href="http://facebook.github.io/react/docs/thinking-in-react.html">http://facebook.github.io/react/docs/thinking-in-react.html</a></p>
