<h1>Lesson 15: React.js in Practice (Part 3) / Flux</h1>

<p>Slides <a href="http://dra1n.github.io/flux-talk/">http://dra1n.github.io/flux-talk/</a></p>
<p>React tutorial fluxified <a href="https://github.com/js-lessons/react-tutorial">https://github.com/js-lessons/react-tutorial</a></p>
<p>Facebook about flux <a href="http://facebook.github.io/flux/">http://facebook.github.io/flux/</a></p>
<p>Comparison of the flux libraries <a href="https://reactjsnews.com/the-state-of-flux/">https://reactjsnews.com/the-state-of-flux/</a></p>
<p>Flux library of choice (for now) <a href="https://github.com/spoike/refluxjs">https://github.com/spoike/refluxjs</a></p>
