<h1>Lesson 18: React.js in Practice (Part 4) / RefluxJS</h1>

<p>Github <a href="https://github.com/spoike/refluxjs">https://github.com/spoike/refluxjs</a></p>
<p>Comparing RefluxJS with Facebook Flux <a href="http://spoike.ghost.io/deconstructing-reactjss-flux/">http://spoike.ghost.io/deconstructing-reactjss-flux/</a></p>
<p>React.js architecture - Flux VS Reflux <a href="http://blog.krawaller.se/posts/react-js-architecture-flux-vs-reflux/">http://blog.krawaller.se/posts/react-js-architecture-flux-vs-reflux/</a></p>
<p>Reflux refinement <a href="http://blog.krawaller.se/posts/reflux-refinement/">http://blog.krawaller.se/posts/reflux-refinement/</a></p>
<p>The Reflux data flow model <a href="http://blog.krawaller.se/posts/the-reflux-data-flow-model/">http://blog.krawaller.se/posts/the-reflux-data-flow-model/</a></p>
<p>React news - reflux example <a href="https://github.com/echenley/react-news">https://github.com/echenley/react-news</a></p>
