<h1>Lesson 4: Higher order functions</h1>
<p>Slides: <a href='http://js-lessons.github.io/js-basics-4-slides/'>http://js-lessons.github.io/js-basics-4-slides/</a></p>
<p>Homework: <a href='https://github.com/js-lessons/js-basics-4'>https://github.com/js-lessons/js-basics-4</a></p>
<p>Experiments: <a href="https://github.com/js-lessons/collection-examples">https://github.com/js-lessons/collection-examples</a></p>
<p>Live coding session: <a href="https://code.stypi.com/vju0g6so">https://code.stypi.com/vju0g6so</a></p>
