<h1>Lesson 8: Testing (part 3)</h1>

<h2>Books</h2>
<ul>
  <li>The RSpec Book: Behaviour-Driven Development with RSpec, Cucumber, and Friends</li>
  <li>The Cucumber Book: Behaviour-Driven Development for Testers and Developers</li>
  <li>Экстремальное программирование: разработка через тестирование</li>
</ul>

<h2>Links</h2>
<ul>
  <li>Integration test examples: <a href="https://github.com/js-lessons/react-todo">https://github.com/js-lessons/react-todo</a></li>
  <li>Headless browser: <a href="http://phantomjs.org/">http://phantomjs.org/</a></li>
  <li>Navigation scripting & testing utility for PhantomJS: <a href="http://casperjs.org/">http://casperjs.org/</a></li>
  <li>CasperJS automation via Mocha: <a href="https://github.com/nathanboktae/mocha-casperjs">https://github.com/nathanboktae/mocha-casperjs</a></li>
  <li><a href="https://github.com/nathanboktae/mocha-casperjs">https://github.com/nathanboktae/mocha-casperjs</a></li>
</ul>
